body {
    background-color: black;
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 10px;
    color: white;
}

p {
    margin: 0;
    color: white;
}

header {
    background-color: #424242;
}

main {
    background-color: #424242;
}

footer {
    background-color: #333333;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}