services:
  app:
    container_name: trng-webservice
    build:
      context: .
      dockerfile: Dockerfile
    command: /code/start-server.sh
    volumes:
      - .:/code
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped