{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="container text-danger">
        <h1 class="mt-3 text-center">500: Internal Server Error</h1>
        <div class="container">
            <h2 class="text-center">Please contact the system administrator at <a
                    href="mailto:kacperochnik01@gmail.com">kacperochnik01@gmail.com</a>and report this incident.</h2>
            {% for error in errors %}
            <h2 class="text-center">{{ error }}</h2>
            {% endfor %}
        </div>
    </div>
    <div class="container text-center">
        <a href="javascript:history.back()" class="btn btn-primary mt-4">Go Back</a>
    </div>
</div>
{% endblock %}