label {
    font-weight: bold;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

pre {
    margin-bottom: 0;
}

h6 {
    margin-bottom: 0;
}