{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="container text-danger">
        <h1 class="mt-4 mb-5 text-center">400: Bad Request</h1>
        <div class="container">
            {% for error in non_field_errors %}
            <h2 class="text-center">{{ error }}</h2>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <a href="javascript:history.back()" class="btn btn-primary mt-4">Go Back</a>
    </div>
</div>
{% endblock %}