{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-3">Account</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" style="display: inline;">
                Change Password </button>
            <form method="post" action="/auth/logout/">
                {% csrf_token %}
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="btn btn-primary">
                    Logout
                </button>
            </form>
        </div>
    </div>
    {% endblock %}