<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TRNG Web Service</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Random</a>
                        <ul class="dropdown-menu">
                            {% for tool in rand_tools %}
                            <li><a class="dropdown-item" href="{% url 'app:'|add:tool.path %}">{{ tool.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/account">Account</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="/auth/logout/">
                            {% csrf_token %}
                            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                            <button class="nav-link" type="submit" name="submit_param" value="submit_value"
                                class="link-button">
                                Logout
                            </button>
                        </form>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-circle-half"></i>
                        </a>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" data-bs-theme-value="dark">Dark</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-theme-value="light">Light</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-theme-value="auto">Auto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>